language: python

os: linux
dist: trusty
sudo: required

python:
  - "2.7"

install:
  - sudo apt-get install libboost-all-dev libgsl0-dev
  - make
  - make -C tests zero_spin.out
  - pip install -r requirements.txt
  - export PYTHONPATH=$PWD
# command to run tests
script:
  - pytest
  - ./tests/zero_spin.out
